{{!-- <h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Add Mess</a> Menu List</h3> --}} 
<h3 style="color: white;">Menu List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>MessName</th>
            <th>Menu</th>
            <th>Price</th>
            <th>Status/Shift</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.MessName}}</td>
            <td>{{this.Menu}}</td>
            <td>{{this.Price}}</td>
            <td>{{this.Status}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>